---
---

@import "{{ site.theme }}";

body {
	font-feature-settings: normal;
	font-kerning: auto;
}

.img-caption {
	font-size: 85%;
}

.footnotes {
	font-size: 85%;
	margin-top: 50px;
	p {
		margin-bottom: 12px;
	}
}

.mastodon-embed, .youtube-embed {
	display: block;
	margin: 0 auto;
}
