---
---

@import "{{ site.theme }}";

body {
	font-feature-settings: normal;
	font-kerning: auto;
}

.img-caption {
	font-size: 85%;
}

.footnotes {
	font-size: 85%;
	margin-top: 40px;
	padding-top: 15px;
	border-top: 1px solid;
	p {
		margin-bottom: 12px;
	}
}

.mastodon-embed, .youtube-embed {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
